<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
   href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<title>WebProject</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">webProject</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

         <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link active"
               href="index.html">목차</a></li>
            <li class="nav-item"><a class="nav-link" href="list">사용자목록</a>
            </li>
         </ul>
      </div>
   </nav>
   <div class="container">
      <div cla></div>
      <table class="table table-hover">
         <caption>사용자 목록</caption>
         <thead>
            <tr>
               <th>사용자 아이디</th>
               <th>이름</th>
               <th>이메일</th>
            </tr>
         </thead>
         <tbody>
               <tr th:each="row: ${users}">
                  <td th:text="${row.userId}"></td>
                  <td th:text="${row.name}"></td>
                  <td th:text="${row.email}"></td>
               </tr>
         </tbody>
      </table>
   </div>
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
   <script src="/webjars/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>